@charset "UTF-8";

.bbh-bogle-regular {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}


*{
    padding: 0;
    margin: 0;
}
html > body{
    font-family: var(--fontprincipal);
    font-weight: var(--fontp-weight);
    font-style: var(--fontp-style);
    background-color: var(--bege);
}

:root{
    --vermelho: #d34e4e;
    --vermelho-trans:#c7c7c7d3;
    --marrom: #CE7E5A;
    --verde: #DDC57A;
    --bege: #F9E7B2;
    --fontprincipal: "IBM Plex Mono", monospace;
    --fontp-weight: 400;
    --fontp-style: normal;

    --fontsec: "BBH Bogle", sans-serif;
    --fontsec-weight: 400;
    --fontsec-style: normal;
}

header{
    background-color: var(--vermelho);
    color: var(--verde);
    text-align: center;
    font-family: var(--fontsec);
    font-weight: var(--fontsec-weight);
    font-style: var(--fontsec-style);
}

header > h1{
    padding-top: 2rem;
    font-variant: small-caps;
    font-size:300%;
}

header > p{
    padding-bottom: 2rem;
}

a{
    text-decoration: none;
    color: var(--bege);
}

a:hover{
    background-color: var(--verde);
    color: var(--vermelho);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

section{
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
    line-height: 1.8rem;
}

section > p{
    padding-bottom: 1rem;
}

section.imagem{
    background-color: var(--marrom);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section.imagem.joana{
    background-image: url(../projeto-cordel/pacote-d012/imagens/background001.jpg);
}

section.imagem.papel{
    background-image: url(../projeto-cordel/pacote-d012/imagens/background002.jpg);
}

section.imagem > p{
    display: inline-block;
    background-color: var(--vermelho-trans);
    border-radius: 10px;
    max-width: 25rem;
    padding: 0.125rem;
}

footer{
    background-color: var(--vermelho);
    color: var(--verde);
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-family: var(--fontsec);
}
